<h2>Other Aromantic and Asexual Story Databases</h2>
<p>There are a number of other databases where stories with aromantic 
    and asexual spectrum characters can be found. These are listed below.</p>
<div class="row">
    <div class="col-6">
        <a href="https://www.aroacedatabase.com/">
            <button class="btn btn-secondary">The Aroace Database</button>
        </a>
    </div>
    <div class="col-6">
        <p>A character based database containing details from books, 
            with information on where the character can be found, what relationships they
            have, what genre the books are in, and if there are any particular notes and warnings.</p>
        <p>The database has not been updated recently so does not contain the most recent releases.</p>
    </div>
    <div class="col-6">
        <a href="https://boatneck-group-cf6.notion.site/aro-ace-books-bcaaaf3d0556465fb9b9135a7fe2952b">
            <button class="btn btn-secondary">aro & ace books</button>
        </a>
    </div>
    <div class="col-6">
        <p>A book/series based database split into genre tranches which are filterable by various means.
            Contains reasonably detailed description for each entry on the content of the representation
            and any other relevant information.
        </p>
    </div>
</div>