<div class="row btn-group" role="group" aria-label="filter options">
    <div class="col dropdown">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="genre dropdown" ngbDropdownToggle>
                {{nameGenre || 'Genre'}}
            </button>
            <div ngbDropdownMenu aria-labelledby="genre dropdown">
                <button ngbDropdownItem (click)="setGenreName()">Select a genre</button>
                <div *ngFor="let genre of genres">
                    <button ngbDropdownItem (click)="setGenreName(genre.genre, genre.id)">
                        {{genre.genre}}</button>
                </div>
            </div>
        </div>
    </div>    
    <div class="col dropdown">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="romantic dropdown" ngbDropdownToggle>
                {{nameRomantic || 'Romantic Orientation'}}
            </button>
            <div ngbDropdownMenu aria-labelledby="romantic dropdown">
                <button ngbDropdownItem (click)="setRomanticName()">Select a romantic orientation</button>
                <div *ngFor="let romantic of romantics">
                    <button ngbDropdownItem (click)="setRomanticName(romantic.romantic, romantic.id)">
                        {{romantic.romantic}}</button>
                </div>
            </div>
        </div>
    </div>	
    <div class="col dropdown">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="sexuality dropdown" ngbDropdownToggle>
                {{nameSexuality || 'Sexual Orientation'}}
            </button>
            <div ngbDropdownMenu aria-labelledby="sexuality dropdown">
                <button ngbDropdownItem (click)="setSexualityName()">Select a sexual orientation</button>
                <div *ngFor="let sexuality of sexualitys">
                    <button ngbDropdownItem (click)="setSexualityName(sexuality.sexuality, sexuality.id)">
                        {{sexuality.sexuality}}</button>
                </div>
            </div>
        </div>
    </div>	
    <div class="col dropdown">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="explicitness dropdown" ngbDropdownToggle>
                {{nameExplicit || 'Explicitness'}}
            </button>
            <div ngbDropdownMenu aria-labelledby="explicitness dropdown">
                <button ngbDropdownItem (click)="setExplicitName()">Select a level of explicitness</button>
                <div *ngFor="let explicit of explicits">
                    <button ngbDropdownItem (click)="setExplicitName(explicit.type, explicit.id)">
                        {{explicit.type}}</button>
                </div>
            </div>
        </div>
    </div>
	<div class="col dropdown">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-secondary dropdown-toggle" id="intersectionality dropdown" ngbDropdownToggle>
				{{nameIntersectionality || 'Intersectionalities'}}
			</button>
			<div ngbDropdownMenu aria-labelledby="intersectionality dropdown">
				<button ngbDropdownItem (click)="setIntersectionalityName()">Select a type of intersectionality</button>
				<div *ngFor="let intersectionality of intersectionalitys">
                    <button ngbDropdownItem 
                        (click)="setIntersectionalityName(intersectionality.intersectionality, intersectionality.id)">
                        {{intersectionality.intersectionality}}</button>
                </div>
			</div>
		</div>
	</div>	
    <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-dark"     
            (click)="sendFilterItems()">    
            Filter</button>
    </div>
</div>