<div class="margins">
    <div class="underline h2"> 
        <h2>About the database</h2> 
    </div> 
    
    <div class="underline h3"> 
        <h3>Identity Labels</h3> 
    </div> 
    <p>
        Three different levels of 'explicitness' are assigned to characters. These describe how the a-spec 
        elements of the character are portrayed in the work. These are:
    </p>
    <ol>
        <li>Word Used - a specific word indicating their a-spec identity is used in the text of the work.</li>
        <li>Described - a word is not used, but the identity is described sufficiently to be understandable as an a-spec one.</li>
        <li>
            Other Works - neither word nor description is included in this work, but the character appears 
            in other works where they are named or described.
        </li>
    </ol>
    <p>
        In the case where different parts of the character's identity (eg. romantic and sexual orientation) are 
        described at different levels of explicitness, the most explicit will be used. eg. If the word asexual is 
        used, but an aromantic identity is implied from the description, the 'Word Used' explicitness will be given.
    </p>
    <p>
        Additionally, characters may use multiple labels, such as identifying with an umbrella label and a microlabel. 
        When this is the case, the more specific label will be used. eg. If a character describes themself as both 
        aromantic and lithromantic, lithromantic will be used.
    </p>
    <div class="underline h3"> 
        <h3>Intersectionalities</h3> 
    </div> 
    <p>
        It is also possible to filter works on various intersectionalities. These will select works where an a-spec 
        character in the work identifiably also belongs to one of the marginalised groups listed. It will not include
        cases where non-a-spec characters in the work belongs to one of these groups. The use of the person of colour label 
        is based on a limited framework that doesn't make sense in most parts of the world. However it is useful in the context 
        of short stories sourced from authors living in western and white majority countries to highlight ethnicities that 
        don't get as much representation.
    </p>
    <div class="underline h3"> 
        <h3>Length</h3> 
    </div> 
    
    <p>
        While this database is focused on short stories, short fiction which can go unnoticed can vary in length. To 
        highlight the works which vary from the short story length, a badge is placed on the listing. These are:
    </p>
    <div class="length">
        <p><app-length-badge [lengthId] = "1"></app-length-badge> - Novella ~ 17,500 - 40,000 words</p>
        <p><app-length-badge [lengthId] = "2"></app-length-badge> - Novelette ~ 7,000 - 17,000 words</p>
        <p><app-length-badge [lengthId] = "3"></app-length-badge> - Flash Fiction ~ < 1,000 words</p>
        <p><app-length-badge [lengthId] = "4"></app-length-badge> - Poem</p>
    </div>
    <div class="underline h2"> 
        <h2>Other Aromantic and Asexual Story Databases</h2> 
    </div> 
    <p>There are a number of other databases where stories with aromantic 
        and asexual spectrum characters can be found. These are listed below.</p>
    <div class="container">
        <div class="row database-table align-items-center">
            <div class="col col-12 col-md-6 col-lg-6 col-xl-6 text-center order-md-1 order-lg-1"> 
                <a href="https://www.aroacedatabase.com/">
                    <button class="btn btn-secondary">The Aroace Database</button>
                </a>
            </div>
            <div class="col col-12 col-md-6 col-lg-6 col-xl-6 order-md-0 order-lg-0"> 
                <p>
                    The AroAce Database is great for finding a-spec stories mostly from around 2021 or before. 
                    It also contains a lot of more obscure indie/self published books that are not easily recorded in 
                    other databases and lists. It's character based, although you can easily find information about 
                    what books each character appears in, what genre those books are, the most important type of relationship 
                    for each character, and any particular notes and warnings.
                </p>
            </div>
            <div class="col col-12 col-md-6 col-lg-6 col-xl-6 text-center order-md-3 order-lg-3"> 
                <a href="https://boatneck-group-cf6.notion.site/aro-ace-books-bcaaaf3d0556465fb9b9135a7fe2952b">
                    <button class="btn btn-secondary">aro & ace books</button>
                </a>
            </div>
            <div class="col col-12 col-md-6 col-lg-6 col-xl-6 order-md-2 order-lg-2"> 
                <p>
                    The aro & ace book database is great for finding more recent books and for searching for particular 
                    types of representation. This database is book/series based, and you can filter by format, genre, 
                    identity, importance of representation to the story, and main/side characters. The creator of the 
                    database has read all of the books on it and is still actively adding books to it as of February 2024. 
                    In addition, they leave a reasonably detailed description for each entry about the representation in it.
                </p>
            </div>
            <div class="col col-12 col-md-6 col-lg-6 col-xl-6 text-center order-md-5 order-lg-5"> 
                <a href="https://www.pennystirling.com/free-aro-ace-fiction/">
                    <button class="btn btn-secondary">Free/Online Aromantic & Asexual Fiction</button>
                </a>
            </div>
            <div class="col col-12 col-md-6 col-lg-6 col-xl-6 order-md-4 order-lg-4"> 
                <p>
                    A page listing various free to read fiction available online with aromantic and asexual characters. 
                    These include details of the aro/ace characters and what relationships they have, information on the
                     type of work, and includes some 'anti-recommendations'. This page was last updated in 2018 and has
                     some dead links.
                </p>
            </div>
        </div>
    </div>
</div>