<h2>About the database</h2>
<p>
    Three different levels of 'explicitness' are assigned to characters. These describe how the a-spec 
    elements of the character are portrayed in the work. These are:
</p>
<ol>
    <li>Word Used - a specific word indicating their a-spec identity is used in the text of the work.</li>
    <li>Described - a word is not used, but the identity is described sufficiently to be understandable as an a-spec one.</li>
    <li>
        Other Works - neither word nor description is included in this work, but the character appears 
        in other works where they are named or described.
    </li>
</ol>
<p>
    In the case where different parts of the character's identity (eg. romantic and sexual orientation) are 
    described at different levels of explicitness, the most explicit will be used.
</p>
<p>
    It is also possible to filter works on various intersectionalities. These will select works where an a-spec 
    character in the work identifiably also belongs to one of the marginalised groups listed. It will not included
    cases where non-a-spec characters in the work belongs to one of these groups.
</p>
<h2>Other Aromantic and Asexual Story Databases</h2>
<p>There are a number of other databases where stories with aromantic 
    and asexual spectrum characters can be found. These are listed below.</p>
<div class="container">
    <div class="row database-table">
        <div class="col-6">
            <p>A character based database containing details from books, 
            with information on where the character can be found, what relationships they
            have, what genre the books are in, and if there are any particular notes and warnings.</p>
            <p>The database has not been updated recently so does not contain the most recent releases.</p>
        </div>
        <div class="col-6 text-center">
            <a href="https://www.aroacedatabase.com/">
                <button class="btn btn-secondary">The Aroace Database</button>
            </a>
        </div>
        <div class="col-6">
            <p>A book/series based database split into genre tranches which are filterable by various means.
                Contains reasonably detailed description for each entry on the content of the representation
                and any other relevant information.
            </p>
        </div>
        <div class="col-6 text-center">
            <a href="https://boatneck-group-cf6.notion.site/aro-ace-books-bcaaaf3d0556465fb9b9135a7fe2952b">
                <button class="btn btn-secondary">aro & ace books</button>
            </a>
        </div>
    </div>
</div>