<div>
    <p>This site is intended to be a database to help you find short stories of all sorts with asexual and aromantic spectrum
         characters in them.</p>
    <p>Use the drop down menus to filter for elements that interest you. Click the random shuffle to get a new set of stories. 
        Click through on a story to get more details and find out what else the author has written.</p>
</div>
<button class="btn btn-secondary" (click)="getListStories(author, source)">Random Shuffle</button>
<div>
    <app-list-select [genres]="genres" [romantics]="romantics" [sexualitys]="sexualitys" [explicits]="explicits" 
    (newItemEvent)="searchStories($event)"></app-list-select>
</div>
<div *ngIf="source">
    <app-source-info [source]="source"></app-source-info>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <div *ngFor="let story of stories">
        <app-list-item [story]="story"></app-list-item>
    </div>
</div>