<div>
    <p>This site is intended to be a database to help you find short stories of all sorts with asexual and aromantic spectrum
         characters in them.</p>
    <p>Use the drop down menus to filter for elements that interest you. Click the random shuffle to get a new set of stories. 
        Click through on a story to get more details and find out what else the author has written.</p>
    <p>Know of a story we've missed? Submit it to aroaceshortstories@outlook.com</p>
    <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="row databases">
        <p class="col-sm-6">Click here to find some more information about the database.</p>
        <a href="/about" class="col-sm-6"><button class="btn btn-dark">About</button></a>
    </div></div>
</div>
<div>
    <app-list-select [genres]="genres" [romantics]="romantics" [sexualitys]="sexualitys" [explicits]="explicits" 
    [intersectionalitys]="intersectionalitys" (newItemEvent)="filterStories($event)"></app-list-select>
</div>
<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-2 justify-content-around">
    <div class="col">
        <app-search-bar (newItemEvent)="searchStories($event)"></app-search-bar>
    </div>
    <div class="col">
        <button class="btn btn-secondary random" (click)="getListStories(author, source)">Random Shuffle</button>
    </div>
</div>
</div>
<div *ngIf="source">
    <app-source-info [source]="source"></app-source-info>
</div>
<div *ngIf="series">
    <app-series-info [series]="series"></app-series-info>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <div *ngFor="let story of stories">
        <app-list-item [story]="story"></app-list-item>
    </div>
</div>