<div *ngIf="story">
    <div class="card text-center details bg-light main">
        <div class="card-header">
            <h2 class="card-title">{{story.title}} - 
                <a [routerLink]="['../../list', {author}]" class="card-link">{{story.author.name}}</a>
            </h2>
            <a *ngIf="series > 0" [routerLink]="['../../list', {series}]">
                <p class="float-end" id="series">-from {{story.series?.series}} series</p>
            </a>
        </div>
        
    <div *ngIf="source && story.link" class="row row-cols-1 row-cols-md-2 row-cols-lg-2 links">
        <div *ngIf="story.source">
            <div class="col">
                <a [routerLink]="['../../list', {source}]">
                    <button *ngIf="story.link" type="button" class="btn btn-secondary btn-sm">{{story.source.source}}</button>
                </a>
            </div>
        </div>
        <div class="col">
            <a href="{{story.link}}"><button *ngIf="story.link" type="button" class="btn btn-secondary btn-sm">Read Here</button></a>
        </div>
    </div>

    <div *ngIf="source && !story.link" class="links">
        <div *ngIf="story.source">
            <div class="col">
                <a [routerLink]="['../../list', {source}]">
                    <button *ngIf="story.source" type="button" class="btn btn-secondary btn-sm">{{story.source.source}}</button>
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="!source && story.link" class="links">
        <a  href="{{story.link}}"><button *ngIf="story.link" type="button" class="btn btn-secondary btn-sm">Read Here</button></a>
    </div>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        <div *ngFor="let genre of story.genres">
            <div class="col">
                <div class="{{genre.name}} card text-center genre">{{genre.name}}</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <p><strong> Orientation</strong></p>
                <div *ngFor="let identity of story.identities">
                    <div class="col">{{identity.romantic.romantic}} {{identity.sexuality.sexuality}}</div>
                </div>
            </div>
            <div class="col">
                <p><strong>Gender</strong></p>
                <div *ngFor="let identity of story.identities">
                    <div class="col">{{identity.gender.gender}}</div>
                </div>
            </div>
            <div class="col">
                <p><strong>Explicitness</strong></p>
                <div *ngFor="let identity of story.identities">
                    <div class="col">{{identity.explicit.explicit}}</div>
                </div>
            </div>
            <div class="col">
                <p><strong>Character Prominance</strong></p>
                <div *ngFor="let identity of story.identities">
                    <div class="col">{{identity.prominance.prominance}}</div>
                </div>
            </div>                
        </div>
    </div>

    <div id="description" class="card">
        <p class="description">{{story.description}}</p>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5">
        <div *ngFor="let warning of story.warning">
            <div class="col">
                <div class="card bg-danger text-center text-white warning">
                    <div>{{warning.warning}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>