.list-details {
    background-color: rgb(215, 241, 215);
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    border-width: 4px;
    border-color: rgb(28, 186, 28);
}

.card-header {
    border-color: purple;
    border-width: 3px;
}

.text-dark { 
    color: rgb(102, 110, 117); 
} 
