<div class="col">
    <div class="card list-details bg-light main">
        <div class="card-body">
            <h3 class="card-header">
                <app-length-badge *ngIf="story?.length" [lengthId]="story?.length" class="float-end"></app-length-badge>
                {{story?.title}} - {{story?.author?.name}}
            </h3>
            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3">
                <div *ngFor="let genre of story?.genres">
                    <div class="col">
                        <div class="card text-center {{genre.name}} genre">
                            <div>{{genre.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let identity of story?.identities">
                <p>{{identity.romantic.romantic}} {{identity.sexuality.sexuality}}</p>
            </div>
            <div class="row row-cols-2">  
                <div>             
                    <a href="{{story?.link}}" class="card-text text-black">
                        <button *ngIf="story?.link" type="button" class="btn btn-light btn-outline-secondary">
                            Free                       
                        </button>
                    </a>
                </div> 
                <div>
                    <a routerLink="/story/{{story?.id}}" class="card-text">
                        <button type="button" class="btn btn-secondary float-end">                    
                            Details                    
                        </button>
                    </a>
                </div>
            </div>            
        </div>
    </div>
</div>