/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgba(223, 223, 223, 0.93); }


.Fantasy {     
    background-color: rgb(204, 168, 237);
}
.Romance {
    background-color: rgb(241, 175, 210);
}
.Science-Fiction {
    background-color: #bdfe5b;
}
.Horror {
    background-color: #090504;
    color: white;
}
.Contemporary {
    background-color: rgb(235, 183, 147);
}
.Superhero {
    background-color: blue;
    color: white;
}
.Magical-Realism {
    background-color: rgb(143, 167, 211);
}
.Dystopia {
    background-color: red;
    color: white;
}